<div [formGroup]="dynamicForm">
  <div class="my-5" *ngFor="let question of dynamicForm.value.questions;let idQ = index;" formArrayName="questions">
    <div>
      <div class="mb-4">
        <h5 class="fs-5 card-title fw-bold mb-4">{{question.title}}</h5>
      </div>
      <div>
        <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group" [(ngModel)]="question.answer" (change)="onRadioButtonChange($event, idQ)" [ngModelOptions]="{standalone: true}">
          <mat-radio-button class="example-radio-button" *ngFor="let option of question.options;" [value]="option.id">
            {{option.value}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <button type="button" class="btn btn-primary w-100" (click)="next()" [disabled]="!dynamicForm.valid">Submit</button>
  </div>
</div>
